.name {
    font-family: 'Playfair Display', serif;
}

Body {
    Background-color: #0449c8;

}

p {
    color: #212c3f;
}

ul {
    color: #ffffff;
}

.Killua {
    width: 450px;
    height: 400px;
    border: 10px dotted white;
    padding: 0px;
    margin: 50px;
}